<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
    </head>
    <body>
        
	
		<h1>Hello {{name}},these are the job details:</h1>
		<a href="url">Logout</a>
		<a href="url">Dashboard</a>
		<br><br>
		 
        <label for="title" >Title:</label>
        <label for="title" id="tile"></label>
			
		<div class="form-container" style="border: 2px solid black;width: 400px;" >
         <form action="">

            <label for="desc">Description:</label>
			<label for="desc" id='desc'></label>
            <br><br>
			
            <label for="location">Location</label>
			<label for="location" id='location'></label>
            <br><br>	
			
			<label for="category">Category:</label>
			<label for="category" id='category'></label>
			
			<br><br>
          </form>
		</div>
	<a href="url">Add to my Jobs</a>	
		
    </body>
</html>